.chart {
  color: beige;
}

.tooltip {
  position: absolute;
  height: 60px;
  width: 90px;
  border: 3px outset rgba(255, 255, 255, 0.575);
  background-color: rgba(0, 0, 0, 0.534);
  color: beige;
  font-size: 14px;
}

.Buy span {
  color: rgb(60, 219, 60);
}

.Sell span {
  color: rgb(243, 65, 65);
}
